@import "./common.scss";

.container {
    @include game-page-container;

    .grid {
        height: 20rem;
        width: 20rem;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.4rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .cell {
            @include display-flex;
            font-size: calc(2rem + 1vw);
            font-weight: 600;
            border: 0.4rem solid $primary-color;
        }

        .won {
            border: none;
            background-color: $success-color;
        }

        .draw {
            border: none;
            background-color: $draw-color;
        }
    }

    .status {
        @include status-message;
    }

    .reset {
        @include reset-btn;
    }
}
